.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
uploads/
node_modules/
dist/
.DS_Store
*.log

*.png
chrome_temp/
edge_temp/
*.tsbuildinfo

db-password.txt
storage-connection.txt
azure-openapi.json
gemini-key.txt
frontend/tsconfig.tsbuildinfo
